<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workload.system.mapper.BizPayRateMapper">
    
    <resultMap type="BizPayRate" id="BizPayRateResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="rate"    column="rate"    />
        <result property="effectiveFrom"    column="effective_from"    />
        <result property="effectiveTo"    column="effective_to"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBizPayRateVo">
        select id, title, rate, effective_from, effective_to, status, create_by, create_time, update_by, update_time, remark from biz_pay_rate
    </sql>

    <select id="selectBizPayRateList" parameterType="BizPayRate" resultMap="BizPayRateResult">
        <include refid="selectBizPayRateVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="effectiveFrom != null "> and effective_from = #{effectiveFrom}</if>
            <if test="effectiveTo != null "> and effective_to = #{effectiveTo}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBizPayRateById" parameterType="Long" resultMap="BizPayRateResult">
        <include refid="selectBizPayRateVo"/>
        where id = #{id}
    </select>

    <insert id="insertBizPayRate" parameterType="BizPayRate" useGeneratedKeys="true" keyProperty="id">
        insert into biz_pay_rate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="rate != null">rate,</if>
            <if test="effectiveFrom != null">effective_from,</if>
            <if test="effectiveTo != null">effective_to,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="rate != null">#{rate},</if>
            <if test="effectiveFrom != null">#{effectiveFrom},</if>
            <if test="effectiveTo != null">#{effectiveTo},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBizPayRate" parameterType="BizPayRate">
        update biz_pay_rate
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="effectiveFrom != null">effective_from = #{effectiveFrom},</if>
            <if test="effectiveTo != null">effective_to = #{effectiveTo},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBizPayRateById" parameterType="Long">
        delete from biz_pay_rate where id = #{id}
    </delete>

    <delete id="deleteBizPayRateByIds" parameterType="String">
        delete from biz_pay_rate where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>